.fondo-plomo{
  background: #ecf0f5;
}
.fondo-foto{
  background-image: url('../imagenes/fondo.jpg'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.margin-derecho{
  margin-right: 15px;
}
.margin-izquierdo{
  margin-left: 15px;
}
.margin-arriba{
  margin-top: 15px;
}
.margin-abajo{
  margin-bottom: 15px;
}
.img-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.tamaño-imagen-normal{
  height: 150px; 
  width: 150px;
}
.tamaño-imagen-pequeño{
  height: 35px; 
  width: 35px;
  margin-top: -200px; 
  margin-left: 90px;
}

.separacion-fotos{
  margin-bottom: 60px;
}

.pagination {
    width: 100%;
   justify-content: center;
}
.actualizar{
  color: #28a745;
}
.eliminar{
  color: red;
}
.btn-simple{
  background: transparent; 

  border: 0;
}
.link-1{
  color: #fff;
}

.sombra-navbar{
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}


/*Estilo para tooltip*/

.popover, .tooltip-inner {
  color: #555555;
  line-height: 1.5em;
  background: #FFFFFF;
  border: none;
  border-radius: 3px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.popover {
  padding: 0;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.popover.left > .arrow, .popover.right > .arrow, .popover.top > .arrow, .popover.bottom > .arrow {
  border: none;
}

.popover-title {
  background-color: #FFFFFF;
  border: none;
  padding: 15px 15px 5px;
  font-size: 1.3em;
}

.popover-content {
  padding: 10px 15px 15px;
  line-height: 1.4;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #FFFFFF;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #FFFFFF;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #FFFFFF;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #FFFFFF;
}

.tooltip-inner {
  padding: 10px 15px;
  min-width: 130px;
}
